dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dash.ly
jupyter-client
jupyter-core
jupyter-dash
jupyterlab-pygments
matplotlib
matplotlib-inline
numpy
notebook
opencv-python
openpyxl
pandas
plotly
plotly-express
python-dateutil
scikit-learn
scipy
seaborn
sklearn
WTForms
gunicorn==20.1.0
